{% extends 'gallery/base.html' %}
   <title>{% block title%}User Photos{% endblock %}</title>


{% block body%}  

   <div class="center">

        <img src="{{ album.photo.url }}" height="442" width="512">
         <h3>{{ album.caption }}</h3>

      {% if request.user == album.uploader %}
        <form action="{% url 'gallery:album-delete' album.id %}" method="post" >
                  {% csrf_token %}
            <input type="hidden" name="album_id" value="{{ album.id }}" />
            <button type="submit" class="deleteB">delete
                 <span class="glyphicon glyphicon-trash"></span>
            </button>            
        </form>
      {% endif %}
  
    </div>

    
{% endblock %}