
.navbar{
    border-radius: 0; 
}
.navbar-header{
    height: 70px;
}
.navbar-brand{
    font-family: 'Satisfy', cursive;
    font-size: 40px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.deleteB{
    position: relative;
    top: -100px;
    left: 435px;
}

